body {
  box-shadow: 0 0 0 10px #3fa inset;
  height: 100vh;
  margin: 0;
  padding: 0.5em;
}

nav {
  float:right;
  padding: 2em;
}
.contentbox {
  border: 1px solid black;
  padding: 10em;
  background-color: #98d;
}
