html {
  margin: 0;
}
body {
  box-sizing: border-box;
  padding: 1em;
  margin: 0;
  box-shadow: 0 0 0 10px black inset;
  height: 100vh;
}
nav {
  margin:2rem;
  float: right;
  padding-bottom: 3em;
}
.box1 {
  background-color: #ddd111;
  margin: 0em;
  padding: 3em;
}
.box2 {
  background-color: #89f;
  margin: 3em;
  padding: 1em;
}
.box3 {
  background-color: #f4a67c;
  margin: 2em;
  padding: 1em;
}
